/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-dialog {
  @apply max-w-[900px] w-full;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-mini-fab.orange { background-color: #ff9800; color: white; }
.mat-mini-fab.green { background-color: #4caf50; color: white; }
.mat-mini-fab.red { background-color: #f44336; color: white; }
